$background-gradient: linear-gradient(to bottom right, #D5D5D5 0%, #FFFFFF 100%);
$content-background-color: rgba(#ffffff, 0.5);

$dusty: #96858F;
$lavender: #6D7993;
$overcast: #9099A2;
$paper: #D5D5D5;

$content-highlight: $dusty;

$xs-break: 576px;
$sm-break: 768px;
$md-break: 992px;
$lg-break: 1200px;

$header-height: 4.6em;
