//@import 'normalize';
@import 'variables';

html, body {
	height: 100%;
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

.no-padding {
	padding: 0 !important;
}

.fill-height {
	height: 100%;
}

.fill-width {
	width: 100%;
}

.fill-container {
	height: 100%;
	width: 100%;
}

.valign {
	display: flex;
	align-items: center;
}

.halign {
	display: flex;
	justify-content: center;
}

.center-text {
	text-align: center;
}

.background-gradient {
	background-image: $background-gradient;
}